.container {
  padding: 6px 18px;
  color: #175fc0;
  border: 1px solid #175fc0;
  border-radius: 4px;
  margin-right: 10px;
  background-color: #ffffff;
}

.active,
.container:hover {
  background-color: #175fc0;
  color: #ffffff;
}
